extends layout

block content
  h2 #{title}.
  h3 My contact page.

  address
    strong Twitter:
    a(href='http://twitter.com/jmsaucier') http://twitter.com/jmsaucier
    br
    strong Github:
    a(href='http://github.com/jmsaucier') http://github.com/jmsaucier
    br
    strong Twitch
    a(href='http://twitch.tv/bledahm') http://twitch.tv/bledahm
